In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import string

In [2]:
bugs = pd.read_csv('../ignored-data/insects.csv')

In [3]:
bugs.head()

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH Oct,SH Nov,SH Dec,Color 1,Color 2,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,NaN,NaN,NaN,...,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green,Ins6,InsectMiirotateha,FtrInsectMiirotateha,620,aj95rMzdbSbvZy9A2
1,69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,...,All day,All day,All day,Black,White,Ins26,InsectAri,FtrInsectAri,588,QZpmczZu4hW2a4Rpv
2,14,Atlas moth,3000,On trees (any kind),Any weather,20,5,NaN,NaN,NaN,...,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow,Ins10,InsectYonagunisan,FtrInsectYonagunisan,652,u2GhYQJXDCQKp7AQ8
3,68,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50,All day,All day,All day,...,All day,All day,All day,Brown,Blue,Ins36,InsectMinomushi,FtrInsectMinomushi,622,QvxgCm82JqHsDknY4
4,34,banded dragonfly,4500,Flying near water,Any except rain,50,7,NaN,NaN,NaN,...,NaN,8 AM – 5 PM,8 AM – 5 PM,Black,Yellow,Ins24,InsectOniyanma,FtrInsectOniyanma,635,pCFep58D6QusMSvR7

In [4]:
bugs.columns = bugs.columns.str.lower()
bugs.columns = bugs.columns.str.replace(' ', '_')
bugs.columns = bugs.columns.str.replace('/', '_')

In [5]:
bugs.columns

Index(['#', 'name', 'sell', 'where_how', 'weather', 'total_catches_to_unlock',
       'spawn_rates', 'nh_jan', 'nh_feb', 'nh_mar', 'nh_apr', 'nh_may',
       'nh_jun', 'nh_jul', 'nh_aug', 'nh_sep', 'nh_oct', 'nh_nov', 'nh_dec',
       'sh_jan', 'sh_feb', 'sh_mar', 'sh_apr', 'sh_may', 'sh_jun', 'sh_jul',
       'sh_aug', 'sh_sep', 'sh_oct', 'sh_nov', 'sh_dec', 'color_1', 'color_2',
       'icon_filename', 'critterpedia_filename', 'furniture_filename',
       'internal_id', 'unique_entry_id'],
      dtype='object')

In [6]:
bugs = bugs.drop(columns=["#", 'total_catches_to_unlock',
                          'color_1', 'color_2', 'icon_filename',
                          'critterpedia_filename', 'furniture_filename', 
                          'internal_id', 'unique_entry_id'])

In [7]:
bugs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 29 columns):
name           80 non-null object
sell           80 non-null int64
where_how      80 non-null object
weather        80 non-null object
spawn_rates    80 non-null object
nh_jan         20 non-null object
nh_feb         21 non-null object
nh_mar         27 non-null object
nh_apr         36 non-null object
nh_may         43 non-null object
nh_jun         48 non-null object
nh_jul         61 non-null object
nh_aug         63 non-null object
nh_sep         51 non-null object
nh_oct         34 non-null object
nh_nov         27 non-null object
nh_dec         20 non-null object
sh_jan         61 non-null object
sh_feb         63 non-null object
sh_mar         51 non-null object
sh_apr         34 non-null object
sh_may         27 non-null object
sh_jun         20 non-null object
sh_jul         20 non-null object
sh_aug         21 non-null object
sh_sep         27 non-null object
sh_oct         36 non-null object
sh_nov         43 non-null object
sh_dec         48 non-null object
dtypes: int64(1), object(28)
memory usage: 18.2+ KB

In [8]:
# Capitalizing the names of bugs properly, despite apostrophes
# Using .title() capitalizes the 's' : Rajah Brooke'*s* Birdwing
for i, row in bugs.iterrows():
    capname = string.capwords(row['name'])
    bugs.at[i, 'name'] = capname

In [9]:
# Defining month column lists to segment if needed
sh_month_cols = [c for c in bugs.columns.to_list() if "sh_" in c]
nh_month_cols = [c for c in bugs.columns.to_list() if "nh_" in c]

month_cols = sh_month_cols + nh_month_cols

In [10]:
bugs.head()

,name,sell,where_how,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,...,sh_mar,sh_apr,sh_may,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec
0,Agrias Butterfly,3000,Flying near flowers,Any except rain,5,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,...,8 AM – 5 PM,NaN,NaN,NaN,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM
1,Ant,80,On rotten turnips,Any weather,0,All day,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,All day,All day
2,Atlas Moth,3000,On trees (any kind),Any weather,5,NaN,NaN,NaN,7 PM – 4 AM,7 PM – 4 AM,...,7 PM – 4 AM,NaN,NaN,NaN,NaN,NaN,NaN,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM
3,Bagworm,600,Shaking trees (hardwood or cedar only),Any weather,50,All day,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,All day,All day,All day
4,Banded Dragonfly,4500,Flying near water,Any except rain,7,NaN,NaN,NaN,NaN,8 AM – 5 PM,...,8 AM – 5 PM,8 AM – 5 PM,NaN,NaN,NaN,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM

In [11]:
bugs["time"] = ""

In [12]:
for i, row in bugs.iterrows():
    nonnulllist = bugs.iloc[i][month_cols].dropna()
    times = list(set(nonnulllist))
    if len(times) == 1:
        value = times[0]
    else:
        value = "varies"
    bugs.at[i, 'time'] = value

In [13]:
bugs['time'].value_counts()

All day                     23
8 AM – 5 PM                 13
5 PM – 8 AM                 11
8 AM – 7 PM                  7
4 AM – 7 PM                  6
7 PM – 8 AM                  5
7 PM – 4 AM                  5
11 PM – 8 AM                 2
8 AM – 4 PM                  2
11 PM – 4 PM                 1
4 PM – 11 PM                 1
4 AM – 5 PM                  1
5 PM – 4 AM                  1
4 AM – 8 AM; 5 PM – 7 PM     1
4 AM – 8 AM; 4 PM – 7 PM     1
Name: time, dtype: int64

In [14]:
bugs['time'].unique()

array(['8 AM –\xa05 PM', 'All day', '7 PM –\xa04 AM', '5 PM –\xa08 AM',
       '4 PM –\xa011 PM', '4 AM –\xa07 PM', '8 AM –\xa07 PM',
       '4 AM –\xa08 AM; 4 PM –\xa07 PM', '11 PM –\xa08 AM',
       '7 PM –\xa08 AM', '8 AM –\xa04 PM', '4 AM – 5 PM',
       '5 PM –\xa04 AM', '11 PM –\xa04 PM', '4 AM – 8 AM; 5 PM –\xa07 PM'],
      dtype=object)

In [15]:
bugs.loc[bugs['time'] == '4 AM – 8 AM; 5 PM –\xa07 PM']

,name,sell,where_how,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,...,sh_apr,sh_may,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec,time
76,Walking Stick,600,On trees (any kind),Any weather,10,NaN,NaN,NaN,NaN,NaN,...,4 AM – 8 AM; 5 PM – 7 PM,4 AM – 8 AM; 5 PM – 7 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 AM – 8 AM; 5 PM – 7 PM

In [16]:
# Mapping fish avail times to descriptors
bugs_avail_map = {'8 AM –\xa05 PM': "8a-5p",
                  'All day': "all",
                  '7 PM –\xa04 AM': "7p-4a",
                  '5 PM –\xa08 AM': "5p-8a",
                  '4 PM –\xa011 PM': "4p-11a",
                  '4 AM –\xa07 PM': "4a-7p",
                  '8 AM –\xa07 PM': "8a-7p",
                  '4 AM –\xa08 AM; 4 PM –\xa07 PM': "4a-8a-4p-7p",
                  '11 PM –\xa08 AM': "11p-8a",
                  '7 PM –\xa08 AM': "7p-8a",
                  '8 AM –\xa04 PM': "8a-4p",
                  '4 AM – 5 PM': "4a-5p",
                  '5 PM –\xa04 AM': "5p-4a",
                  '11 PM –\xa04 PM': "11p-4p",
                  '4 AM – 8 AM; 5 PM –\xa07 PM': "4a-8a-5p-7p"}

bugs['time'] = [bugs_avail_map[item] for item in bugs['time']]

In [17]:
bugs.where_how.unique()

array(['Flying near flowers', 'On rotten turnips', 'On trees (any kind)',
       'Shaking trees (hardwood or cedar only)', 'Flying near water',
       'On the ground', 'On palm trees', 'On hardwood/cedar trees',
       'From hitting rocks', 'On tree stumps', 'Flying',
       'On rivers/ponds', 'Pushing snowballs', 'On villagers',
       'Flying near trash (boots, tires, cans) or rotten turnips',
       'Disguised on shoreline', 'On flowers',
       'Underground (dig where noise is loudest)',
       'Flying near light sources', 'On white flowers',
       'Flying near blue/purple/black flowers', 'On rocks/bushes',
       'Disguised under trees', 'Shaking trees', 'On beach rocks'],
      dtype=object)

In [18]:
where_how_map = {
    'Flying near flowers': ['flowers', 'flying near flowers'],
    'On rotten turnips': ['other', 'on rotten turnips'],
    'On trees (any kind)': ['trees', 'on trees (any kind)'],
    'Shaking trees (hardwood or cedar only)': ['trees', 'shake trees (hardwood or cedar)'],
    'Flying near water': ['water', 'flying near water'],
    'On the ground': ['other', 'on ground'],
    'On palm trees': ['trees', 'on palm trees'],
    'On hardwood/cedar trees': ['trees', 'on trees (hardwood or cedar)'],
    'From hitting rocks': ['other', 'hit rocks'],
    'On tree stumps': ['trees', 'on tree stumps'],
    'Flying': ['other', 'flying'],
    'On rivers/ponds': ['water', 'on rivers or ponds'],
    'Pushing snowballs': ['other', 'on ground (pushing snowballs)'],
    'On villagers': ['other', 'on villagers'],
    'Flying near trash (boots, tires, cans) or rotten turnips': ['other', 'flying near trash'],
    'Disguised on shoreline': ['water', 'disguised near sea'],
    'On flowers': ['flowers', 'on flowers'],
    'Underground (dig where noise is loudest)': ['other', 'dig for noise'],
    'Flying near light sources': ['other', 'flying near lights'],
    'On white flowers': ['flowers', 'on flowers (white)'],
    'Flying near blue/purple/black flowers': ['flowers', 'flying near flowers (purple, blue or black)'],
    'On rocks/bushes': ['other', 'on rocks or bushes'],
    'Disguised under trees': ['trees', 'disguised under trees'],
    'Shaking trees': ['trees', 'shake trees (any kind)'],
    'On beach rocks': ['water', 'on beach rocks']
}

In [19]:
# Creating cols for primary vs. sub locations
bugs['where'] = bugs['where_how']
bugs['how'] = bugs['where_how']

for i, row in bugs.iterrows():
    orig_val = row['where']
    where_main = where_how_map[orig_val][0]
    where_sub = where_how_map[orig_val][1]
    bugs.at[i, 'where'] = where_main
    bugs.at[i, 'how'] = where_sub
    
bugs = bugs.drop(columns = "where_how")

In [20]:
bugs.head()

,name,sell,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,nh_jun,...,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec,time,where,how
0,Agrias Butterfly,3000,Any except rain,5,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,...,NaN,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,8a-5p,flowers,flying near flowers
1,Ant,80,Any weather,0,All day,All day,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,all,other,on rotten turnips
2,Atlas Moth,3000,Any weather,5,NaN,NaN,NaN,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,...,NaN,NaN,NaN,NaN,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,7p-4a,trees,on trees (any kind)
3,Bagworm,600,Any weather,50,All day,All day,All day,All day,All day,All day,...,All day,All day,All day,All day,All day,All day,All day,all,trees,shake trees (hardwood or cedar)
4,Banded Dragonfly,4500,Any except rain,7,NaN,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,...,NaN,NaN,NaN,NaN,NaN,8 AM – 5 PM,8 AM – 5 PM,8a-5p,water,flying near water

In [21]:
# changing hem/months to become 'available' cols
avail_cols = [str(col) + "_avail" for col in month_cols]
bugs[month_cols] = (~bugs[month_cols].isna())

In [22]:
bugs['weather'].value_counts()

Any weather        45
Any except rain    34
Rain only           1
Name: weather, dtype: int64

In [23]:
# Mapping weather options to descriptors
weather_map = {
    "Any weather" : "any",
    "Any except rain" : "not rain",
    "Rain only" : "rain"
}

In [24]:
bugs['weather'] = [weather_map[item] for item in bugs['weather']]

In [25]:
bugs.head()

,name,sell,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,nh_jun,...,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec,time,where,how
0,Agrias Butterfly,3000,not rain,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,8a-5p,flowers,flying near flowers
1,Ant,80,any,0,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,other,on rotten turnips
2,Atlas Moth,3000,any,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,7p-4a,trees,on trees (any kind)
3,Bagworm,600,any,50,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,trees,shake trees (hardwood or cedar)
4,Banded Dragonfly,4500,not rain,7,False,False,False,False,True,True,...,False,False,False,False,False,True,True,8a-5p,water,flying near water

In [50]:
# bugs.to_csv('../data/bugs_clean.csv', index=False)

### Creating Dataframe where Index is Hem/Month

In [27]:
# Getting the num of available bugs per month per hemisphere
month_totals = bugs[month_cols].sum()

In [28]:
month_totals

sh_jan    61
sh_feb    63
sh_mar    51
sh_apr    34
sh_may    27
sh_jun    20
sh_jul    20
sh_aug    21
sh_sep    27
sh_oct    36
sh_nov    43
sh_dec    48
nh_jan    20
nh_feb    21
nh_mar    27
nh_apr    36
nh_may    43
nh_jun    48
nh_jul    61
nh_aug    63
nh_sep    51
nh_oct    34
nh_nov    27
nh_dec    20
dtype: int64

## Attempting a Function!

### Defining Time Frames

In [29]:
bugs.head()

,name,sell,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,nh_jun,...,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec,time,where,how
0,Agrias Butterfly,3000,not rain,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,8a-5p,flowers,flying near flowers
1,Ant,80,any,0,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,other,on rotten turnips
2,Atlas Moth,3000,any,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,7p-4a,trees,on trees (any kind)
3,Bagworm,600,any,50,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,trees,shake trees (hardwood or cedar)
4,Banded Dragonfly,4500,not rain,7,False,False,False,False,True,True,...,False,False,False,False,False,True,True,8a-5p,water,flying near water

In [30]:
blank_df = pd.DataFrame(np.zeros(shape=(80, 24), dtype='int'))

In [31]:
time_df = pd.concat([bugs[['name', 'time']], blank_df], axis=1)

In [32]:
time_df

,name,time,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,Agrias Butterfly,8a-5p,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ant,all,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Atlas Moth,7p-4a,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bagworm,all,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Banded Dragonfly,8a-5p,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Walking Leaf,all,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,Walking Stick,4a-8a-5p-7p,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,Wasp,all,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,Wharf Roach,all,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,Yellow Butterfly,4a-7p,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
avail_times = {
    # all day, functionally 0:00 - 24:00
    'all': list(range(0, 24)),    
    
    # 4am - 5pm, aka 4:00 - 17:00
    '4a-5p': list(range(4, 17)),
    
    # 4am - 7pm, aka 4:00 - 19:00
    '4a-7p': list(range(4, 19)),
    
    # 8am - 4pm, aka 8:00 - 16:00
    '8a-4p': list(range(8, 16)),
    
    # 8am - 5pm, aka 8:00 - 17:00
    '8a-5p': list(range(8, 17)),
    
    # 8am - 7pm, aka 8:00 - 19:00
    '8a-7p': list(range(8, 19)),

    # 4pm - 11am, aka 16:00 - 11:00
    '4p-11a': list(range(16, 24)) + list(range(0, 11)),    
    
    # 5pm - 4am, aka 17:00 - 4:00
    '5p-4a': list(range(17, 24)) + list(range(0, 4)),
    
    # 5pm - 8am, aka 17:00 - 8:00
    '5p-8a': list(range(17, 24)) + list(range(0, 8)),
    
    # 7pm - 4am, aka 19:00 - 4:00
    '7p-4a': list(range(19, 24)) + list(range(0, 4)),
    
    # 7pm - 8am, aka 19:00 - 8:00
    '7p-8a': list(range(19, 24)) + list(range(0, 8)),

    # 11pm - 8am, aka 23:00 - 8:00
    '11p-8a': list(range(23, 24)) + list(range(0, 8)),

    # 11pm - 4pm, aka 23:00 - 16:00
    '11p-4p': list(range(23, 24)) + list(range(0, 16)),
    
    # evening cicada: 4am - 8am and 4pm - 7pm
    '4a-8a-4p-7p': list(range(4, 8)) + list(range(16, 19)),
    
    # walking stick: 4am - 8am and 5pm - 7pm
    '4a-8a-5p-7p': list(range(4, 8)) + list(range(17, 19)),
}

In [34]:
for i, row in time_df.iterrows():
    time_value = row['time']
    cols_to_fill = avail_times[time_value]
    for col in cols_to_fill:
        time_df.at[i, col] = 1

In [35]:
time_df

,name,time,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,Agrias Butterfly,8a-5p,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
1,Ant,all,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Atlas Moth,7p-4a,1,1,1,1,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
3,Bagworm,all,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Banded Dragonfly,8a-5p,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Walking Leaf,all,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
76,Walking Stick,4a-8a-5p-7p,0,0,0,0,1,1,1,1,...,0,0,0,1,1,0,0,0,0,0
77,Wasp,all,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
78,Wharf Roach,all,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
79,Yellow Butterfly,4a-7p,0,0,0,0,1,1,1,1,...,1,1,1,1,1,0,0,0,0,0

In [36]:
time_num_bugs = {}

for time in list(range(0,24)):
    time_num_bugs[time] = time_df[time].sum()

In [37]:
time_num_bugs

{0: 49,
 1: 49,
 2: 49,
 3: 49,
 4: 52,
 5: 52,
 6: 52,
 7: 52,
 8: 54,
 9: 54,
 10: 54,
 11: 53,
 12: 53,
 13: 53,
 14: 53,
 15: 53,
 16: 52,
 17: 51,
 18: 51,
 19: 46,
 20: 46,
 21: 46,
 22: 46,
 23: 49}

In [38]:
# Went ahead and created a map for the columns, 
# will potentially use later to make these look nice
time_names = {
    0: 'Midnight - 12:59AM',
    1: '1:00AM - 1:59AM',
    2: '2:00AM - 2:59AM',
    3: '3:00AM - 3:59AM',
    4: '4:00AM - 4:59AM',
    5: '5:00AM - 5:59AM',
    6: '6:00AM - 6:59AM',
    7: '7:00AM - 7:59AM',
    8: '8:00AM - 8:59AM',
    9: '9:00AM - 9:59AM',
    10: '10:00AM - 10:59AM',
    11: '11:00AM - 11:59AM',
    12: 'Noon - 12:59PM',
    13: '1:00PM - 1:59PM',
    14: '2:00PM - 2:59PM',
    15: '3:00PM - 3:59PM',
    16: '4:00PM - 4:59PM',
    17: '5:00PM - 5:59PM',
    18: '6:00PM - 6:59PM',
    19: '7:00PM - 7:59PM',
    20: '8:00PM - 8:59PM',
    21: '9:00PM - 9:59PM',
    22: '10:00PM - 10:59PM',
    23: '11:00PM - 11:59PM',
}

In [51]:
btest = pd.read_csv('../data/bugs_clean.csv')

In [52]:
btest.head()

,name,sell,weather,spawn_rates,nh_jan,nh_feb,nh_mar,nh_apr,nh_may,nh_jun,...,sh_jun,sh_jul,sh_aug,sh_sep,sh_oct,sh_nov,sh_dec,time,where,how
0,Agrias Butterfly,3000,not rain,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,8a-5p,flowers,flying near flowers
1,Ant,80,any,0,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,other,on rotten turnips
2,Atlas Moth,3000,any,5,False,False,False,True,True,True,...,False,False,False,False,True,True,True,7p-4a,trees,on trees (any kind)
3,Bagworm,600,any,50,True,True,True,True,True,True,...,True,True,True,True,True,True,True,all,trees,shake trees (hardwood or cedar)
4,Banded Dragonfly,4500,not rain,7,False,False,False,False,True,True,...,False,False,False,False,False,True,True,8a-5p,water,flying near water

In [53]:
nhjul = btest.loc[btest['nh_jul'] == True]

In [65]:
used_cols = ['name', 'sell', 'weather', 'spawn_rates',
             'where', 'how', 'time', 'nh_jul']
nhjul = nhjul[used_cols]

In [66]:
# Creating a blank df for hours 0-23, to match the monthdf
blank_df = pd.DataFrame(np.zeros(shape=(len(nhjul), 24), dtype='int'))

# Resetting the blank df index to match monthdf
blank_df = blank_df.set_index(nhjul.index)

# Adding empty columns to original monthdf
concatdf = pd.concat([nhjul, blank_df], axis=1)

for i, row in concatdf.iterrows():
    time_value = row['time']
    cols_to_fill = avail_times[time_value]
    for col in cols_to_fill:
        concatdf.at[i, col] = 1

In [67]:
concatdf

,name,sell,weather,spawn_rates,where,how,time,nh_jul,0,1,...,14,15,16,17,18,19,20,21,22,23
0,Agrias Butterfly,3000,not rain,5,flowers,flying near flowers,8a-5p,True,0,0,...,1,1,1,0,0,0,0,0,0,0
1,Ant,80,any,0,other,on rotten turnips,all,True,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Atlas Moth,3000,any,5,trees,on trees (any kind),7p-4a,True,1,1,...,0,0,0,0,0,1,1,1,1,1
3,Bagworm,600,any,50,trees,shake trees (hardwood or cedar),all,True,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Banded Dragonfly,4500,not rain,7,water,flying near water,8a-5p,True,0,0,...,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Tiger Butterfly,240,not rain,40,other,flying,4a-7p,True,0,0,...,1,1,1,1,1,0,0,0,0,0
75,Walking Leaf,600,any,10,trees,disguised under trees,all,True,1,1,...,1,1,1,1,1,1,1,1,1,1
76,Walking Stick,600,any,10,trees,on trees (any kind),4a-8a-5p-7p,True,0,0,...,0,0,0,1,1,0,0,0,0,0
77,Wasp,2500,any,0,trees,shake trees (any kind),all,True,1,1,...,1,1,1,1,1,1,1,1,1,1
78,Wharf Roach,200,any,20,water,on beach rocks,all,True,1,1,...,1,1,1,1,1,1,1,1,1,1

In [57]:
list(concatdf['where'].unique())

['flowers', 'other', 'trees', 'water']

In [58]:
testrow = concatdf.iloc[3]

In [59]:
concatdf.loc[concatdf['where'] == 'other'].index

Int64Index([1, 11, 20, 24, 25, 32, 42, 50, 51, 66, 67, 71, 72], dtype='int64')

In [63]:
for option in list(concatdf['where'].unique()):
    subset = concatdf.loc[concatdf['where'] == option]
    
    if option == "other":
        print(f"{option.title()}")
        dropdown_opt = option.title()
        print("-" * len(option))
    else:
        print(f"Related To: {option.title()}")
        dropdown_opt = f"Related To: {option.title()}"
        print("-" * len("related to: " + option))
    print(dropdown_opt.split()[-1].lower())
    for i in subset.index:
        print(f"{subset['name'][i]}: {subset['how'][i].title()}")
    print("*" * 50)

Related To: Flowers
-------------------
flowers
Agrias Butterfly: Flying Near Flowers
Emperor Butterfly: Flying Near Flowers
Great Purple Emperor: Flying Near Flowers
Honeybee: Flying Near Flowers
Madagascan Sunset Moth: Flying Near Flowers
Man-faced Stink Bug: On Flowers
Mantis: On Flowers
Orchid Mantis: On Flowers (White)
Paper Kite Butterfly: Flying Near Flowers
Queen Alexandra's Birdwing: Flying Near Flowers
Rajah Brooke's Birdwing: Flying Near Flowers
Stinkbug: On Flowers
**************************************************
Other
-----
other
Ant: On Rotten Turnips
Common Bluebottle: Flying
Earth-boring Dung Beetle: On Ground
Flea: On Villagers
Fly: Flying Near Trash
Grasshopper: On Ground
Long Locust: On Ground
Mosquito: Flying
Moth: Flying Near Lights
Scorpion: On Ground
Snail: On Rocks Or Bushes
Tiger Beetle: On Ground
Tiger Butterfly: Flying
**************************************************
Related To: Trees
-----------------
trees
Atlas Moth: On Trees (Any Kind)
Bagworm: Shake Trees (Hardwood Or Cedar)
Blue Weevil Beetle: On Palm Trees
Brown Cicada: On Trees (Hardwood Or Cedar)
Cicada Shell: On Trees (Hardwood Or Cedar)
Citrus Long-horned Beetle: On Tree Stumps
Cyclommatus Stag: On Palm Trees
Drone Beetle: On Trees (Any Kind)
Evening Cicada: On Trees (Hardwood Or Cedar)
Giant Cicada: On Trees (Hardwood Or Cedar)
Giant Stag: On Trees (Any Kind)
Giraffe Stag: On Palm Trees
Golden Stag: On Palm Trees
Goliath Beetle: On Palm Trees
Horned Atlas: On Palm Trees
Horned Dynastid: On Trees (Any Kind)
Horned Elephant: On Palm Trees
Horned Hercules: On Palm Trees
Jewel Beetle: On Tree Stumps
Miyama Stag: On Trees (Any Kind)
Rainbow Stag: On Trees (Any Kind)
Robust Cicada: On Trees (Hardwood Or Cedar)
Rosalia Batesi Beetle: On Tree Stumps
Saw Stag: On Trees (Any Kind)
Scarab Beetle: On Trees (Any Kind)
Spider: Shake Trees (Hardwood Or Cedar)
Walking Leaf: Disguised Under Trees
Walking Stick: On Trees (Any Kind)
Wasp: Shake Trees (Any Kind)
**************************************************
Related To: Water
-----------------
water
Banded Dragonfly: Flying Near Water
Darner Dragonfly: Flying Near Water
Diving Beetle: On Rivers Or Ponds
Giant Water Bug: On Rivers Or Ponds
Hermit Crab: Disguised Near Sea
Pondskater: On Rivers Or Ponds
Wharf Roach: On Beach Rocks
**************************************************

In [64]:
nhjul

,name,sell,weather,spawn_rates,where,how,time,nh_jul
0,Agrias Butterfly,3000,not rain,5,flowers,flying near flowers,8a-5p,True
1,Ant,80,any,0,other,on rotten turnips,all,True
2,Atlas Moth,3000,any,5,trees,on trees (any kind),7p-4a,True
3,Bagworm,600,any,50,trees,shake trees (hardwood or cedar),all,True
4,Banded Dragonfly,4500,not rain,7,water,flying near water,8a-5p,True
...,...,...,...,...,...,...,...,...
72,Tiger Butterfly,240,not rain,40,other,flying,4a-7p,True
75,Walking Leaf,600,any,10,trees,disguised under trees,all,True
76,Walking Stick,600,any,10,trees,on trees (any kind),4a-8a-5p-7p,True
77,Wasp,2500,any,0,trees,shake trees (any kind),all,True
78,Wharf Roach,200,any,20,water,on beach rocks,all,True

In [73]:
current = concatdf.loc[concatdf[0] == 1][used_cols]

In [92]:
current['where'].unique()

array(['other', 'trees', 'flowers', 'water'], dtype=object)

In [84]:
current_locs = {}
for i  in current.index:
    key = current['where'][i]
    val = current['how'][i]
    print(f"{key}: {val}")
    if val in list(current_locs.values()):
        continue
    else:
        current_locs[key] = val

other: on rotten turnips
trees: on trees (any kind)
trees: shake trees (hardwood or cedar)
trees: on palm trees
trees: on trees (hardwood or cedar)
trees: on tree stumps
trees: on palm trees
trees: on trees (any kind)
other: on ground
flowers: flying near flowers
other: on villagers
other: flying near trash
trees: on trees (any kind)
water: on rivers or ponds
trees: on palm trees
trees: on palm trees
trees: on palm trees
water: disguised near sea
trees: on palm trees
trees: on trees (any kind)
trees: on palm trees
trees: on palm trees
trees: on tree stumps
flowers: on flowers
trees: on trees (any kind)
other: flying
other: flying near lights
trees: on trees (any kind)
trees: on tree stumps
trees: on trees (any kind)
trees: on trees (any kind)
other: on ground
other: on rocks or bushes
trees: shake trees (hardwood or cedar)
flowers: on flowers
other: on ground
trees: disguised under trees
trees: shake trees (any kind)
water: on beach rocks

In [85]:
current_locs

{'other': 'on ground',
 'trees': 'shake trees (any kind)',
 'flowers': 'on flowers',
 'water': 'on beach rocks'}

In [ ]:
current_locs = utilsb.find_current_locs(current)

loc_title_dict = {}
for loc in current_locs:
    if loc[0] != loc[1]:
        title = f"{loc[0].title()}: {loc[1].title()}"
    else:
        title = loc[0].title()
    loc_title_dict[title] = loc